<a href="https://colab.research.google.com/github/MSaydurRahman/An-Analysis-of-Character-Representation-from-Print-Book-vs-Visual-Movie-Media/blob/master/CSE499.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic NLTK algorithm**

**Dependencies**

In [ ]:
import nltk
import pandas as pd

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Data**

In [ ]:
t = open('/content/drive/My Drive/499/Harry Wiki.txt', "r")
text = t.readline()
print(text)

Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).

**Basic Named Entity (NE) tagging using NLTK - Word based**

In [ ]:
#tokenize to words
words = nltk.word_tokenize(text)
words

['Harry',
 'Potter',
 'is',
 'a',
 'series',
 'of',
 'seven',
 'fantasy',
 'novels',
 'written',
 'by',
 'British',
 'author',
 'J.',
 'K.',
 'Rowling',
 '.',
 'The',
 'novels',
 'chronicle',
 'the',
 'lives',
 'of',
 'a',
 'young',
 'wizard',
 ',',
 'Harry',
 'Potter',
 ',',
 'and',
 'his',
 'friends',
 'Hermione',
 'Granger',
 'and',
 'Ron',
 'Weasley',
 ',',
 'all',
 'of',
 'whom',
 'are',
 'students',
 'at',
 'Hogwarts',
 'School',
 'of',
 'Witchcraft',
 'and',
 'Wizardry',
 '.',
 'The',
 'main',
 'story',
 'arc',
 'concerns',
 'Harry',
 "'s",
 'struggle',
 'against',
 'Lord',
 'Voldemort',
 ',',
 'a',
 'dark',
 'wizard',
 'who',
 'intends',
 'to',
 'become',
 'immortal',
 ',',
 'overthrow',
 'the',
 'wizard',
 'governing',
 'body',
 'known',
 'as',
 'the',
 'Ministry',
 'of',
 'Magic',
 'and',
 'subjugate',
 'all',
 'wizards',
 'and',
 'Muggles',
 '(',
 'non-magical',
 'people',
 ')',
 '.']

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
#Part of speech tagging
pos_tags = nltk.pos_tag(words)
pos_tags

[('Harry', 'NNP'),
 ('Potter', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('series', 'NN'),
 ('of', 'IN'),
 ('seven', 'CD'),
 ('fantasy', 'JJ'),
 ('novels', 'NNS'),
 ('written', 'VBN'),
 ('by', 'IN'),
 ('British', 'JJ'),
 ('author', 'NN'),
 ('J.', 'NNP'),
 ('K.', 'NNP'),
 ('Rowling', 'NNP'),
 ('.', '.'),
 ('The', 'DT'),
 ('novels', 'JJ'),
 ('chronicle', 'NN'),
 ('the', 'DT'),
 ('lives', 'NNS'),
 ('of', 'IN'),
 ('a', 'DT'),
 ('young', 'JJ'),
 ('wizard', 'NN'),
 (',', ','),
 ('Harry', 'NNP'),
 ('Potter', 'NNP'),
 (',', ','),
 ('and', 'CC'),
 ('his', 'PRP$'),
 ('friends', 'NNS'),
 ('Hermione', 'NNP'),
 ('Granger', 'NNP'),
 ('and', 'CC'),
 ('Ron', 'NNP'),
 ('Weasley', 'NNP'),
 (',', ','),
 ('all', 'DT'),
 ('of', 'IN'),
 ('whom', 'WP'),
 ('are', 'VBP'),
 ('students', 'NNS'),
 ('at', 'IN'),
 ('Hogwarts', 'NNP'),
 ('School', 'NNP'),
 ('of', 'IN'),
 ('Witchcraft', 'NNP'),
 ('and', 'CC'),
 ('Wizardry', 'NNP'),
 ('.', '.'),
 ('The', 'DT'),
 ('main', 'JJ'),
 ('story', 'NN'),
 ('arc', 'NN'),
 ('concerns', 'NNS'),
 ('Harry', 'NNP'),
 ("'s", 'POS'),
 ('struggle', 'NN'),
 ('against', 'IN'),
 ('Lord', 'NNP'),
 ('Voldemort', 'NNP'),
 (',', ','),
 ('a', 'DT'),
 ('dark', 'JJ'),
 ('wizard', 'NN'),
 ('who', 'WP'),
 ('intends', 'VBZ'),
 ('to', 'TO'),
 ('become', 'VB'),
 ('immortal', 'JJ'),
 (',', ','),
 ('overthrow', 'VB'),
 ('the', 'DT'),
 ('wizard', 'NN'),
 ('governing', 'VBG'),
 ('body', 'NN'),
 ('known', 'VBN'),
 ('as', 'IN'),
 ('the', 'DT'),
 ('Ministry', 'NNP'),
 ('of', 'IN'),
 ('Magic', 'NNP'),
 ('and', 'CC'),
 ('subjugate', 'VB'),
 ('all', 'DT'),
 ('wizards', 'NNS'),
 ('and', 'CC'),
 ('Muggles', 'NNP'),
 ('(', '('),
 ('non-magical', 'JJ'),
 ('people', 'NNS'),
 (')', ')'),
 ('.', '.')]

In [ ]:
nltk.download('tagsets')

[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Unzipping help/tagsets.zip.

True

In [ ]:
#check nltk help for description of the tag
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [ ]:
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.

True

**Binary=True**

In [ ]:
chunks = nltk.ne_chunk(pos_tags, binary=True) #either NE or not NE
for chunk in chunks:
    print(chunk)

(NE Harry/NNP Potter/NNP)
('is', 'VBZ')
('a', 'DT')
('series', 'NN')
('of', 'IN')
('seven', 'CD')
('fantasy', 'JJ')
('novels', 'NNS')
('written', 'VBN')
('by', 'IN')
(NE British/JJ)
('author', 'NN')
('J.', 'NNP')
('K.', 'NNP')
('Rowling', 'NNP')
('.', '.')
('The', 'DT')
('novels', 'JJ')
('chronicle', 'NN')
('the', 'DT')
('lives', 'NNS')
('of', 'IN')
('a', 'DT')
('young', 'JJ')
('wizard', 'NN')
(',', ',')
(NE Harry/NNP Potter/NNP)
(',', ',')
('and', 'CC')
('his', 'PRP$')
('friends', 'NNS')
('Hermione', 'NNP')
('Granger', 'NNP')
('and', 'CC')
(NE Ron/NNP Weasley/NNP)
(',', ',')
('all', 'DT')
('of', 'IN')
('whom', 'WP')
('are', 'VBP')
('students', 'NNS')
('at', 'IN')
(NE Hogwarts/NNP School/NNP)
('of', 'IN')
(NE Witchcraft/NNP)
('and', 'CC')
(NE Wizardry/NNP)
('.', '.')
('The', 'DT')
('main', 'JJ')
('story', 'NN')
('arc', 'NN')
('concerns', 'NNS')
(NE Harry/NNP)
("'s", 'POS')
('struggle', 'NN')
('against', 'IN')
(NE Lord/NNP Voldemort/NNP)
(',', ',')
('a', 'DT')
('dark', 'JJ')
('wizard', 'NN')
('who', 'WP')
('intends', 'VBZ')
('to', 'TO')
('become', 'VB')
('immortal', 'JJ')
(',', ',')
('overthrow', 'VB')
('the', 'DT')
('wizard', 'NN')
('governing', 'VBG')
('body', 'NN')
('known', 'VBN')
('as', 'IN')
('the', 'DT')
(NE Ministry/NNP)
('of', 'IN')
(NE Magic/NNP)
('and', 'CC')
('subjugate', 'VB')
('all', 'DT')
('wizards', 'NNS')
('and', 'CC')
(NE Muggles/NNP)
('(', '(')
('non-magical', 'JJ')
('people', 'NNS')
(')', ')')
('.', '.')

In [ ]:
entities =[]
labels =[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        #print(chunk)
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

           Entities Labels
0           Muggles     NE
1          Ministry     NE
2             Harry     NE
3    Lord Voldemort     NE
4        Witchcraft     NE
5       Ron Weasley     NE
6   Hogwarts School     NE
7      Harry Potter     NE
8             Magic     NE
9          Wizardry     NE
10          British     NE

**Binary=False**

In [ ]:
chunks = nltk.ne_chunk(pos_tags, binary=False) #either NE or not NE
for chunk in chunks:
    print(chunk)
    
entities =[]
labels =[]
for chunk in chunks:
    if hasattr(chunk,'label'):
        #print(chunk)
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())
        
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

(PERSON Harry/NNP)
(PERSON Potter/NNP)
('is', 'VBZ')
('a', 'DT')
('series', 'NN')
('of', 'IN')
('seven', 'CD')
('fantasy', 'JJ')
('novels', 'NNS')
('written', 'VBN')
('by', 'IN')
(GPE British/JJ)
('author', 'NN')
('J.', 'NNP')
('K.', 'NNP')
('Rowling', 'NNP')
('.', '.')
('The', 'DT')
('novels', 'JJ')
('chronicle', 'NN')
('the', 'DT')
('lives', 'NNS')
('of', 'IN')
('a', 'DT')
('young', 'JJ')
('wizard', 'NN')
(',', ',')
(PERSON Harry/NNP Potter/NNP)
(',', ',')
('and', 'CC')
('his', 'PRP$')
('friends', 'NNS')
(PERSON Hermione/NNP Granger/NNP)
('and', 'CC')
(PERSON Ron/NNP Weasley/NNP)
(',', ',')
('all', 'DT')
('of', 'IN')
('whom', 'WP')
('are', 'VBP')
('students', 'NNS')
('at', 'IN')
(ORGANIZATION Hogwarts/NNP School/NNP)
('of', 'IN')
(ORGANIZATION Witchcraft/NNP)
('and', 'CC')
(GPE Wizardry/NNP)
('.', '.')
('The', 'DT')
('main', 'JJ')
('story', 'NN')
('arc', 'NN')
('concerns', 'NNS')
(PERSON Harry/NNP)
("'s", 'POS')
('struggle', 'NN')
('against', 'IN')
(PERSON Lord/NNP Voldemort/NNP)
(',', ',')
('a', 'DT')
('dark', 'JJ')
('wizard', 'NN')
('who', 'WP')
('intends', 'VBZ')
('to', 'TO')
('become', 'VB')
('immortal', 'JJ')
(',', ',')
('overthrow', 'VB')
('the', 'DT')
('wizard', 'NN')
('governing', 'VBG')
('body', 'NN')
('known', 'VBN')
('as', 'IN')
('the', 'DT')
(ORGANIZATION Ministry/NNP)
('of', 'IN')
(GPE Magic/NNP)
('and', 'CC')
('subjugate', 'VB')
('all', 'DT')
('wizards', 'NNS')
('and', 'CC')
(GPE Muggles/NNP)
('(', '(')
('non-magical', 'JJ')
('people', 'NNS')
(')', ')')
('.', '.')

            Entities        Labels
0         Witchcraft  ORGANIZATION
1              Harry        PERSON
2     Lord Voldemort        PERSON
3   Hermione Granger        PERSON
4            British           GPE
5              Magic           GPE
6             Potter        PERSON
7    Hogwarts School  ORGANIZATION
8           Wizardry           GPE
9           Ministry  ORGANIZATION
10       Ron Weasley        PERSON
11      Harry Potter        PERSON
12           Muggles           GPE

**Basic Named Entity (NE) tagging using NLTK - Sentence based**

In [ ]:
entities = []
labels = []

sentence = nltk.sent_tokenize(text)
for sent in sentence:
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent)),binary=False):
        if hasattr(chunk,'label'):
            entities.append(' '.join(c[0] for c in chunk))
            labels.append(chunk.label())
            
entities_labels = list(set(zip(entities,labels)))

entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ["Entities","Labels"]
entities_df

            Entities        Labels
0         Witchcraft  ORGANIZATION
1              Harry        PERSON
2     Lord Voldemort        PERSON
3   Hermione Granger        PERSON
4            British           GPE
5              Magic           GPE
6             Potter        PERSON
7    Hogwarts School  ORGANIZATION
8           Wizardry           GPE
9           Ministry  ORGANIZATION
10       Ron Weasley        PERSON
11      Harry Potter        PERSON
12           Muggles           GPE

# **Stanford NLP NER**

**Dependencies**

In [ ]:
from nltk.tag import StanfordNERTagger
from nltk.tokenize import word_tokenize
import os

In [ ]:
model = '/content/drive/My Drive/499/stanford-ner-4.0.0/classifiers/english.all.3class.distsim.crf.ser.gz'
jar = '/content/drive/My Drive/499/stanford-ner-4.0.0/stanford-ner.jar'



st = StanfordNERTagger(model, jar,encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/nltk/tag/stanford.py:183: DeprecationWarning:
The StanfordTokenizer will be deprecated in version 3.2.5.
Please use nltk.tag.corenlp.CoreNLPPOSTagger or nltk.tag.corenlp.CoreNLPNERTagger instead.
  super(StanfordNERTagger, self).__init__(*args, **kwargs)

In [ ]:
tokenized_text = nltk.word_tokenize(text)
classified_text = st.tag(tokenized_text)

classified_text_df = pd.DataFrame(classified_text)

classified_text_df.drop_duplicates(keep='first', inplace=True)
classified_text_df.reset_index(drop=True, inplace=True)
classified_text_df.columns = ["Entities", "Labels"]
classified_text_df

       Entities  Labels
0         Harry  PERSON
1        Potter  PERSON
2            is       O
3             a       O
4        series       O
..          ...     ...
65      Muggles       O
66            (       O
67  non-magical       O
68       people       O
69            )       O

[70 rows x 2 columns]

In [ ]:
tokenized_text = nltk.word_tokenize(text)
classified_text = st.tag(tokenized_text)

netagged_words = classified_text

entities = []
labels = []

from itertools import groupby
for tag, chunk in groupby(classified_text, lambda x:x[1]):
    if tag != "O":
        entities.append(' '.join(w for w, t in chunk))
        labels.append(tag)
        
    
entities_all = list(zip(entities, labels))
entities_unique = list(set(zip(entities, labels))) #unique entities   
entities_df = pd.DataFrame(entities_unique)
entities_df.columns = ["Entities", "Labels"]
entities_df

                        Entities        Labels
0                          Harry        PERSON
1               Hermione Granger        PERSON
2                  J. K. Rowling        PERSON
3              Ministry of Magic  ORGANIZATION
4                      Voldemort        PERSON
5                    Ron Weasley        PERSON
6                   Harry Potter        PERSON
7  Hogwarts School of Witchcraft  ORGANIZATION

# **Using Spacy**

In [ ]:
import spacy 
from spacy import displacy
#SpaCy 2.x brough significant speed and accuracy improvements
spacy.__version__

'2.2.4'

In [ ]:
#Download spacy models
#!python -m spacy download en_core_web_sm

In [ ]:
# Load SpaCy model
nlp = spacy.load("en_core_web_sm")
#nlp = spacy.load("en_core_web_md")
#nlp = spacy.load("en_core_web_lg")

In [ ]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels,'Position_Start':position_start, 'Position_End':position_end})

df

                              Entities    Labels  Position_Start  Position_End
0                      (Harry, Potter)    PERSON               0            12
1                              (seven)  CARDINAL              28            33
2                            (British)      NORP              60            67
3                    (J., K., Rowling)    PERSON              75            88
4                      (Harry, Potter)    PERSON             140           152
5                  (Hermione, Granger)    PERSON             170           186
6                       (Ron, Weasley)    PERSON             191           202
7   (Hogwarts, School, of, Witchcraft)       ORG             232           261
8                           (Wizardry)       GPE             266           274
9                                (arc)       ORG             291           294
10                             (Harry)    PERSON             304           309
11                         (Voldemort)   PRODUCT             334           343
12          (the, Ministry, of, Magic)       ORG             436           457

In [ ]:
spacy.explain("PERSON")

'People, including fictional'

**1st Process To count word frquency**

In [ ]:

from collections import Counter
nlp = spacy.load('en')
# all tokens that arent stop words or punctuations
words = [token.text for token in doc if token.is_stop != True and token.is_punct != True]

# noun tokens that arent stop words or punctuations
nouns = [token.text for token in doc if token.is_stop != True and token.is_punct != True and token.pos_ == "NOUN"]

# five most common tokens
word_freq = Counter(words)
common_words = word_freq.most_common()

# five most common noun tokens
noun_freq = Counter(nouns)
common_nouns = noun_freq.most_common()
print(common_nouns)

[('wizard', 3), ('novels', 2), ('series', 1), ('fantasy', 1), ('author', 1), ('lives', 1), ('friends', 1), ('students', 1), ('story', 1), ('arc', 1), ('struggle', 1), ('body', 1), ('wizards', 1), ('Muggles', 1), ('people', 1)]

**2nd Process To count word frquency**

In [ ]:
from spacy.lang.en.stop_words import STOP_WORDS
from string import punctuation

keyword = []
stopwords = list(STOP_WORDS)
pos_tag = ['PROPN', 'ADJ', 'NOUN', 'VERB']
for token in doc:
    if(token.text in stopwords or token.text in punctuation):
        continue
    if(token.pos_ in pos_tag):
        keyword.append(token.text)

freq_word = Counter(keyword)
print(freq_word.most_common())

[('Harry', 3), ('wizard', 3), ('Potter', 2), ('novels', 2), ('series', 1), ('fantasy', 1), ('written', 1), ('British', 1), ('author', 1), ('J.', 1), ('K.', 1), ('Rowling', 1), ('chronicle', 1), ('lives', 1), ('young', 1), ('friends', 1), ('Hermione', 1), ('Granger', 1), ('Ron', 1), ('Weasley', 1), ('students', 1), ('Hogwarts', 1), ('School', 1), ('Witchcraft', 1), ('Wizardry', 1), ('main', 1), ('story', 1), ('arc', 1), ('concerns', 1), ('struggle', 1), ('Lord', 1), ('Voldemort', 1), ('dark', 1), ('intends', 1), ('immortal', 1), ('overthrow', 1), ('governing', 1), ('body', 1), ('known', 1), ('Ministry', 1), ('Magic', 1), ('subjugate', 1), ('wizards', 1), ('Muggles', 1), ('non', 1), ('magical', 1), ('people', 1)]

In [ ]:
from spacy import displacy

entities=[(i, i.label_, i.label) for i in doc.ents]
entities

[(Harry Potter, 'PERSON', 380),
 (seven, 'CARDINAL', 397),
 (British, 'NORP', 381),
 (J. K. Rowling, 'PERSON', 380),
 (Harry Potter, 'PERSON', 380),
 (Hermione Granger, 'PERSON', 380),
 (Ron Weasley, 'PERSON', 380),
 (Hogwarts School of Witchcraft, 'ORG', 383),
 (Wizardry, 'GPE', 384),
 (arc, 'ORG', 383),
 (Harry, 'PERSON', 380),
 (Voldemort, 'PRODUCT', 386),
 (the Ministry of Magic, 'ORG', 383)]

In [ ]:
displacy.render(nlp(str(entities)), jupyter=True, style='ent')